In [1]:
import pandas as pd
import numpy as np

In [2]:
import yfinance as yf

In [26]:
msft = yf.download("MSFT", period="1mo", interval="5m")

[*********************100%***********************]  1 of 1 completed

In [27]:
msft

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2021-09-16 09:30:00-04:00,303.760010,304.279999,303.200012,303.901611,303.901611,1504993
2021-09-16 09:35:00-04:00,304.000000,304.051910,303.320007,303.622986,303.622986,363958
2021-09-16 09:40:00-04:00,303.250000,303.549988,302.950989,303.309998,303.309998,375692
2021-09-16 09:45:00-04:00,303.250000,303.470001,302.841309,302.841309,302.841309,298798
2021-09-16 09:50:00-04:00,303.055206,303.190002,302.679993,302.739990,302.739990,304522
...,...,...,...,...,...,...
2021-10-15 15:35:00-04:00,303.665009,303.779999,303.549988,303.674988,303.674988,121803
2021-10-15 15:40:00-04:00,303.679993,303.750000,303.589996,303.644989,303.644989,141540
2021-10-15 15:45:00-04:00,303.630005,303.679993,303.309998,303.350006,303.350006,243507
2021-10-15 15:50:00-04:00,303.350006,304.350006,303.339996,304.179993,304.179993,496744
2021-10-15 15:55:00-04:00,304.230011,304.399994,304.019989,304.209991,304.209991,897525

In [28]:
api_key = '6HPQXLNVBX7YQOPU'